*
    margin: 0
    padding: 0
.container
    display: flex
    margin: 0 auto
    .row-number,
    .row-number-right
        display: flex
        height: 480px
        flex-direction: column
        margin-top: 20px
    .cell
        height: 60px
        display: flex
        flex-direction: column
        justify-content: center
    .rotate
        transform: rotate(180deg)
        height: 60px
        display: flex
        flex-direction: column
        justify-content: center
    .table-wrap
        display: flex
        flex-direction: column
    .labels-top,
    .labels-bottom
        display: flex
        width: 480px
        justify-content: space-around
    .top-cell
        transform: rotate(180deg)

    .wrap
        display: flex
        flex-wrap: wrap
        width: 480px
        height: 480px
        border: 1px solid gray
        justify-content: space-around
        text-align: center
        .block
            display: flex
            width: 60px
            height: 60px
            &-black
                background-color: black
                color: gray
                display: flex
                width: 60px
                height: 60px
                text-align: center
                justify-items: center
        h3
            text-align: center
            color: #c3c3c3
            display: flex
            flex-direction: column
            justify-content: center
            font-size: 30px
            line-height: 40px
            text-align: center
            margin: 0 auto
        .black
            color: #3c3c3c
